<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 z-30">
    <div class="absolute w-full h-screen bg-gray-100 opacity-40"></div>
    <div class="relative h-full rounded-lg">
      <%= render "form", entry: @entry %>
    </div>
  </div>
<% end %>
