<main class="h-screen">
  <div class="fixed top-0 w-full bg-white shadow-md z-10">
    <%= render "partials/home_nav"%>
  </div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Entries" %>
  <div class="max-w-[57rem] mx-auto pt-28 overflow-y-scroll" id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <p>
      </p>
    <% end %>
  </div>
</main>
