/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 *= require font-awesome
 */

/* Margin */
.max-width {
    max-width: calc(100% - 5.625rem);
}

/* Fonts */

@font-face {
    font-family: "TRY Vesterbro Light";
    src: url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.eot");
    src: url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b0dae2fdb15aeea7213797260e6399e2.svg#TRY Vesterbro Light")format("svg");
}

@font-face {
    font-family: "NeueHaasDisplay-Roman";
    src: url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.eot");
    src: url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/cddfddeff0f66d9f03e9df2585ea819e.svg#NeueHaasDisplay-Roman") format("svg");
}

@font-face {
    font-family: "TRY Vesterbro Extrabold";
    src: url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.eot");
    src: url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d3f0bcb094ad7719361cb513a5209c0e.svg#TRY Vesterbro Extrabold")format("svg");
}

/* Tooltips */

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 10px;
    background-color: #192733;
    border-radius: 5px;
    padding: 0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  .hover-text:hover .tooltip-text {
    visibility: visible;
  }

  #top {
    top: 2.2rem;
    left: -0.3rem;
    opacity: 0;
    transition: opacity 0.5s;
  }

  #top::before {
    top: 80%;
    left: 45%;
  }

  .hover-text {
    position: relative;
    display: inline-block;
    font-family: Arial;
    text-align: center;
  }

  .hover-text:hover #top { opacity: 1; }